
a{
  text-decoration: none;
  color: #333;
}

ul{
  list-style: none;
}

.non-active{
  display: none;
}
.active{
  display: block;
}

.activeTab{
  background-color: #fff;
  border-top: 2px solid red;
}

.mypageMainContainer{
  padding-top: 30px;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  &__rightContnet{
    width:700px;
    // ▲仮　うえやま
    height: 2040px;
    // ▲ 仮　byうえやま
    background-color: red;
    // ▲　仮　byうえやま
    &__profile{
      width: 100%;
      height: 200px;
      background-color: blue;
    }
    &__rightContnet__five-tabs{
      @include two-tabs();
    }
    &__rightContnet__lists{
      @include lists();
    }
      &__allShow{
        @include mypageRightForm();
        padding-top: 20px;
        &__btn{
          margin: 0 auto;
          width: 90%; 
          height: 70%;
          background-color: #eee;
          font-size: 14px;
          display: flex;
          align-items: center;
          p{
            margin: 0 auto;
          }
        }
      }
    }   
  }

    &__myItems{
      margin-top: 30px;
      @include mypageRightForm();
      height: 70px;
      line-height: 70px;
      p{
        width: 100px;
        margin: 0 auto;
      }
      &__tabs{
        @include tabs();
        .itemTab{
          @include twoTab();
          .tabMessage{
            @include tabMessage();
          }
        }
      }
    }
      .itemBox{
        height: 250px;
        width: 100%;
        background-color: yellow;
      }
  }
}

