
a{
  text-decoration: none;
  color: #333;
}

ul{
  list-style: none;
}

.non-active{
  display: none;
}

.active{
  display: block;
}

.mypageMainContainer{
  padding-top: 30px;
  padding-bottom: 30px;
  height: 1340px;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  &__rightContnet{
    width:700px;
  }

.five-lists{
  &__profile{
    width: 100%;
    height: 200px;
    background-color: #3CCACE;
    display: flex;
    align-items: center;
    &__box{
      margin: 0 auto;
      width: 30%;
      height: 80%;
      &__image{
        width: 20%;
        height: 30%;
        margin: inherit;
        margin-top:20px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      &__name{
        height: 20%;
        margin: inherit;
        margin-top:5px;
        p{
          text-align: center;
        }
      }
      &__information{
        height: 20%;
        margin: inherit;
        margin-top:5px;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

.tabs{  
  background-color: #eee;
  text-align: center;
  height: 72px;
  display: flex;
  .two-tab{
    width:50%;
    font-size: 16px;
    line-height: 72px;
    position: relative;
    }
    .tabMessage{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      &:hover{
        color:rgb(116, 114, 114);
        cursor : pointer;
      }
    }
}

.activeTab{
  background-color: #fff;
  border-top: 2px solid red;
}

.lists{
  width: 100%;
  &__list{
    background-color: #fff;
    border-bottom: 2px solid #f8f8f8;
    height: 90px;
    width: 700px;
    position: relative; 
    display: flex;
    a{
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      &:hover{
        opacity: 0.1; 
        background-color:gray;
      }
    }
    &__icon{
      width: 80px;
      height: 100%;
      display: flex;
      align-items: center;
      .cat{
        margin: 15px;
        }
    }
    &__messageBox{
      height: 100%;
      width: calc(100% - 80px);
      &__message{
        margin: 0 auto;
        height: 60%;
        width: 90%;
        font-size: 12px;
        padding-top: 15px;
      }
      .all-show-btn{
        margin: 0 auto;
        width: 90%; 
        height: 70%;
        background-color: #eee;
        font-size: 14px;
        display: flex;
        align-items: center;
        p{
          margin: 0 auto;
        }
      }
      &__watches{
        display: flex;
        margin: 0 auto;
        height: 40%;
        width: 90%;
        .fa-clock{
          font-family: "Font Awesome 5 Free"; 
          font-weight: 900;
        }
        &__time{
          margin-top: 3px;
          font-size: 12px;
        }
      }
    }
    &__arrow{
      height: 100%;
      width: 30px;
      display: flex;
      align-items: center;
      .fa-chevron-right{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
      }
    }
  }
}

.all-show-btn{
  margin: 0 auto;
  margin-top: 13px;
  width: 90%; 
  height: 60px;
  background-color: #eee;
  font-size: 14px;
  text-align: center;
  &:hover{
    opacity: 0.5; 
  }
  p{
    margin: 0 auto;
    line-height: 60px;
    width: 200px;
  }
}

.box-title{
  margin-top: 30px;
  height: 70px;
  width: 100%; 
  background-color: #fff;
  border-bottom: 2px solid #f8f8f8;
  line-height: 70px;
  text-align: center;
}
.box-content {
  text-align: center;
  line-height: 300px;
  height: 300px;
  width: 100%;
  background-color: #fff;
}
}