.box-title
  購入した商品
%ul.tabs.jq-initial-item-tabs
  %li.two-tab.jq-initial-item-tab.activeTab
    .tabMessage
      取引中の商品
  %li.two-tab.jq-initial-item-tab
    .tabMessage
      過去の商品
.box-contets
  .box-content.non-active.active
    取引中の商品
  .box-content.non-active
    過去の商品