.mypageMainContainer
  .mypageMainContainer__leftContnet
  .mypageMainContainer__rightContnet
    .mypageMainContainer__rightContnet__profile
    %ul.mypageMainContainer__rightContnet__tabs
      %li.tab.activeTab
        .tabMessage
          おしらせ
      %li.tab
        .tabMessage
          やることリスト
    %ul.mypageMainContainer__rightContnet__lists.non-active.active
      = render partial: "mypageNoticeForm", locals: { notice: @notices }
    %ul.mypageMainContainer__rightContnet__lists.non-active
      = render partial: "mypageTodoForm", locals: { todo: @todos }
