.mypageMainContainer.clearfix
  .mypageMainContainer__rightContnet
    %ul.mypageMainContainer__rightContnet__tabs
      %li.tab.activeTab
        .tabMessage
          おしらせ
      %li.tab
        .tabMessage
          やることリスト
    %ul.mypageMainContainer__rightContnet__lists.non-activeLists.activeLists
      = render partial: "mypageNoticeForm", locals: { notice: @notices }
    %ul.mypageMainContainer__rightContnet__lists.non-activeLists
      = render partial: "mypageTodoForm", locals: { todo: @todos }