.mypageMainContainer.clearfix
  .mypageMainContainer__rightContnet
    %ul.mypageMainContainer__rightContnet__tabs
      %li.tab.activeTab
        = link_to "おしらせ","#" 
      %li.tab
        = link_to "やることリスト","#"
    %ul.mypageMainContainer__rightContnet__noticeLists.lists.activeLists
      = render partial: "mypageNoticeForm", locals: { notice: @notices }
    %ul.mypageMainContainer__rightContnet__todoLists.lists.activeLists
      = render partial: "mypageTodoForm", locals: { todo: @todos }