.mypageMainContainer
  .mypageMainContainer__leftContnet
    = render partial: "addresses/new_inner/address_new_mypageLeft"
  .mypageMainContainer__rightContnet
    住所新規作成
    = render partial: "addresses/address_form"
    