.bottomBanner
  //= image_tag(src= "bg-appBanner-pict.jpg")
  .bottomBanner__center
    %h2{"class"=>"title"}だれでもかんたん、人生を変えるフリマアプリ
    %p{"class"=>"text"}今すぐ無料ダウンロード！
    .bottomBanner__center__centerIcon
      -# %a{ :href => '#', :class=> 'bottomBanner__center__centerIcon__appBtn'}
      = = link_to "#", class:"bottomBanner__center__centerIcon__appBtn"
        = image_tag("http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg", width: "180px")
      -# %a{ :href => '#', :class=> 'bottomBanner__center__centerIcon__googleBtn'}
      = link_to "#", class:"bottomBanner__center__centerIcon__googleBtn"
        = image_tag("http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg", width: "180px")
