.bottomBanner{
  background-image: url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__center{
    color: #fff;
    text-align: center;
    .title{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    .text{
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__centerIcon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__appBtn:first-child{
        margin-right: 10px;
      }
      &__appBtn:hover{
        opacity: 0.6;
      }
      &__googleBtn:hover{
        opacity: 0.6;
      }
    }
  }
}