.category-downlists{
  position: absolute;
  z-index: 2;
  top:100px;
  .category-downlist{
    display: flex;
    top:30px;
    left: 0;
    width: 800px;
    &__in{
      width: calc(100% / 3);
      height: 100%;
      background-color:#f8f8f8;
      &__one{
        margin-bottom:3px;
        margin-left: 2px;
        background-color:#f8f8f8;
        height: 30px;
        position: relative;
          a{
            font-size: 13px;
            display: block;
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            line-height: 30px;
          }
      }
      &__one:hover{
        background-color: red;
        a{color: white;
        }
      }

      .red{
        background-color: red;
      }
    }
  }
}

.show-list{
  display: block;
}

.non-show-list{
  display: none;
}

