.category-downlists{
  position: absolute;
  z-index: 2;
  top:100px;
  .category-downlist{
    display: flex;
    top:30px;
    left: 0;
    width: 800px;
    // height: 600px;
    border: solid;
    &__in{
      // height: 100%;
      width: calc(100% / 3);
      border: solid red;
      height: 100%;
      &__one{
        margin-bottom:3px;
        margin-left: 2px;
        background-color: gray;
        display: block;
        border: solid;
        height: 30px;
      }
    }
  }
}

.show-list{
  display: block;
}

.non-show-list{
  display: none;
}