* {
  box-sizing: border-box;
}

.main{
  background-color: #f8f8f8;
  &__top-visual{
    background-image: image-url('bg-mainVisual-pict_pc.png');
    width: 100%;
    height: 560px;
    background-color: red;
    background-size:  cover;
    background-repeat:  no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0;
        &__apple-btn{
          margin-right: 10px;
        }
        &__apple-btn:hover{
          opacity: 0.6;
        }
        &__google-btn{
          width: 180px;
        }
        &__google-btn:hover{
          opacity: 0.6;
        }
      }
    }
    }
    &__picture{
      position: absolute;
      top: 0;
      right: 210px;
    }
  &__introduction{
    padding: 60px 20px;
    &__subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          .text{
            color: #3CCACE;
          }
        }
        &__explanation{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      &__list-last{
        margin: 16px 0 0;
        &__image{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          .text{
            color: #3CCACE;
          }
        }
        &__explanation{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__middle-visual{
    background-image: url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__center{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__subtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4; 
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn{
        display: flex;
        &__apple-btn{
          margin-right: 10px;
        }
        &__apple-btn:hover{
          opacity: 0.6;
        }
        &__google-btn{
          margin-right: 10px;
        }
        &__google-btn:hover{
          opacity: 0.6;
        }
      }
    }
  }
  &__features{
    padding: 60px 100px;
    background-color: #fff;
    &__subtitle{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .image{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__title{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__text{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
}