.goods{
  padding: 80px 0 80px 0;
  background-color: #f8f8f8;
  height: 100%;
  .head{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
    &__box{
      &__text{
        text-align: center;
        // #newpost{
        //   font-size: 24px;
        //   text-decoration: none;
        //   color: #3CCACE;
          .title{
            font-weight: bold;
            font-size: 24px;
            text-decoration: none;
            color: #3CCACE;
          // }
        }
      }
      &__lists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list{
          width: 220px;
          display: inline-block;
          float: left;
          &__anchor1{
            background-color: #fff;
            display: inline-block;
            .images{ 
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              .image{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            &__content{
              background-color: white;
              color: #333;
              padding: 16px;
              &__name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              &__description{
                font-size: 16px;

                ul{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  li{

                  }
                  li{

                    .fa{
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                      -webkit-font-smoothing: antialiased;
                    }
                  }
                }
                p{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
        &__list:hover{
          opacity: 0.6;
        }
      }
    }
}