// 全体
.sell {
  background: lightcyan;
  color: #333;
 
  .form-require {
    @include form-require();
  }

  // 任意の装飾
  .form-require_brand {
    box-sizing: border-box;
    @include font();
    background: lightgray;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
  }

  // ヘッダー
  &__head {
    height: 128px;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
  }
  // メイン全体
  &__main {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__content {
      // 出品画像
      &__file {
        width: 700px;
        padding: 40px;
        border-top: 1px solid #eee;
        box-sizing: border-box;
        @include font();
        &__up {
          &__head {
            font-size: 16px;
            font-weight: bold;
            &__text {
              margin: 8px 0 0;
              line-height: 1.5;
              font-weight: normal;
              font-size: 14px;
            }
          }
          &__box {
            display: block;
            width: 620px;
            margin: 16px auto 0;
            min-height: 162px;
            background: #f5f5f5;
            border: 1px dashed #ccc;
            font-size: 0;
            text-align: center;
            box-sizing: border-box;
            @include font();
            -webkit-transition: -webkit-box-shadow ease-out 0.3s;
            transition: -webkit-box-shadow ease-out 0.3s;
            transition: box-shadow ease-out 0.3s;
            transition: box-shadow ease-out 0.3s,
              -webkit-box-shadow ease-out 0.3s;
            cursor: pointer;
          }
        }
      }
      
      &__form {
        width: 700px;
        padding: 40px;
        border-top: 1px solid #eee;
        display: block;
        box-sizing: border-box;
        @include font();
        label {
          font-weight: 600;
          font-size: 14px;
        }
        &:after {
          content: "";
          clear: both;
          display: block;
        }
        &__input {
          width: 100%;
          margin: 8px 0 40px;
          font-weight: normal;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          box-sizing: border-box;
          @include font();
          &:nth-child(3) {
            height: 142px;
          }
        }
        &__sub {
          color: #888;
          font-size: 14px;
          margin-bottom: 40px;
          &__icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background: #0099e8;
            color: #fff;
            line-height: 14px;
            font-size: 12px;
            text-align: center;
            text-decoration: none;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        &__box {
          width: 100%;
          margin: 0;
          &__group {
            &__select {
              margin: 8px 0 0;
              &__form {
                width: 100%;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                margin: 0 0 40px;
              }
              .edit-box{
                width: 100%;
                height: 48px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                background: 0;
                font-size: 16px;
                line-height: 48px;
                margin-bottom: 10px;
              }
            }
          }
          // 販売価格
          &__price {
            &__top {
              padding: 0 0 24px;
              border: 0;
              display: block;
              height: 72px;
              box-sizing: border-box;
              @include font();
              &__left {
                width: 50%;
                line-height: 48px;
                font-weight: 600;
                float: left;
              }
              &__right {
                width: 50%;
                text-align: right;
                float: right;
                align-items: center;
                display: flex;

                &__yen{
                  padding-bottom: 40px;
                }
              }
            }
            &__fee {
              display: block;
              padding: 24px 0;
              border-top: 1px solid #ccc;
              height: 63px;
              box-sizing: border-box;
              @include font();
              &__left {
                text-align: left;
                font-size: 14px;
                float: left;
              }
              &__right {
                float: right;
                font-size: 14px;
                text-align: right;
              }
            }
            &__profit {
              padding: 24px 0;
              border-top: 1px solid #ccc;
              &__left {
                float: left;
                font-size: 14px;
              }
              &__right {
                float: right;
                font-size: 14px;
              }
            }
          }
        }
      
      }
      &__button {
        padding: 40px;
        font-size: 14px;
        a {
          color: #0099e8;
          text-decoration: none;
          &:hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }
        // 出品する
        &__red {
          margin: 40px auto 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 60%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
        }
        // もどる
        &__white {
          width: 60%;
          margin: 24px auto 0;
          display: block;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
  &__footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    box-sizing: border-box;
    ul {
      display: flex;
      justify-content: space-around;
    }
    a {
      color: #333;
      font-size: 12px;
      text-decoration: none;
      box-sizing: border-box;
      @include font();
    }

    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;

      img:hover {
        opacity: 0.7;
      }
      }
  }
}