.sellBtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  .content{
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__icon{
    width: 60%;
  }
}

.sellBtn:hover{
  opacity: 0.9;
}