.signup {
  background: lightcyan;
  color: #333;

  .field {
    margin: 40px 0 0;

    .field-info-title {
      font-size: 16px;
      font-weight: bold;
      margin: 8px 0 0;
      padding: 0;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .field-info-text {
      font-size: 14px;
      margin: 8px 0 0;
      padding: 0;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .field-label{
      font-weight: bold;
      float: left;
    }
    .form-require {
      font-weight: lighter;
      box-sizing: border-box;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
        メイリオ, Meiryo, sans-serif;
      background: #ea352d;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      vertical-align: top;
      font-weight: 600;
    }
    .toggle{ 
      position: relative;
      .checkbox-field{
        position: absolute;
        right: 15px;
        top: 45px;
        .checkbox {
          display: none;
        }
      }
    }
    #user_birthday_1i {
      width: 76px;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    #user_birthday_2i {
      width: 76px;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    #user_birthday_3i {
      width: 76px;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }

    .field-input-full {
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
    .field-info {
      color: #888;
      font-size: 14px;
      margin: 8px 0 0;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    
    }
    .field-name {
      display: flex;
      .field-input-half {
        width: calc(100% - 12px);
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
  }
  .btn {
    margin: 32px 0px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  .form-info-footer {
    margin: 32px 0px;
    background-color: #f5f5f5;
    padding: 8px 16px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    color: #888888;
    font-size: 11px;
    line-height: 1.5;
    font-weight: lighter;
    a{
      color: #0099e8;
      text-decoration: none;
    }
  }


  // 任意の装飾
  .form-require_brand {
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
      メイリオ, Meiryo, sans-serif;
    background: lightgray;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
  }

  // ヘッダー
  &__head {
    height: 128px;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
  }
  // メイン全体
  &__main {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__content {
      &__head {
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;
        display: block;
        font-size: 1.4em;
        font-weight: bold;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }
      &__item {
        padding: 32px 16px;
        border-top: 1px solid #f5f5f5;
        &__inner {
          max-width: 343px;
          margin: 0 auto;
        }
      }
    }
  }
  &__footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    box-sizing: border-box;
    ul {
      display: flex;
      justify-content: space-around;
    }
    a {
      color: #333;
      font-size: 12px;
      text-decoration: none;
      box-sizing: border-box;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
        メイリオ, Meiryo, sans-serif;
    }
    li:nth-child(1):hover {
      opacity: 0.7;
      text-decoration: underline;
      box-sizing: border-box;
    }
    li:nth-child(2):hover {
      opacity: 0.7;
      text-decoration: underline;
    }
    li:nth-child(3):hover {
      opacity: 0.7;
      text-decoration: underline;
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      small {
        font-size: 13px;
      }
      img:hover {
        opacity: 0.7;
      }
      }
  }
}

.login {
  background: lightcyan;
  color: #333;

  .field {
    margin: 40px 0 0;

    .field-info-title {
      font-size: 16px;
      font-weight: bold;
      margin: 8px 0 0;
      padding: 0;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .field-info-text {
      font-size: 14px;
      margin: 8px 0 0;
      padding: 0;
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    }
    .field-label{
      font-weight: bold;
      float: left;
    }
    .toggle{ 
      position: relative;
      .checkbox-field{
        position: absolute;
        right: 15px;
        top: 45px;
        .checkbox {
          display: none;
        }
      }
    }
    .field-input-full {
      width: 100%;
      margin: 8px 0 0;
      height: 48px;
      padding: 10px 16px 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: #fff;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  .btn {
    margin: 32px 0px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  .form-info-footer {
    margin-top: 32px;
    background-color: #f5f5f5;
    padding: 8px 16px;
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
    color: #888888;
    font-size: 11px;
    line-height: 1.5;
    font-weight: lighter;
    a{
      color: #0099e8;
      text-decoration: none;
    }
  }


  // 任意の装飾
  .form-require_brand {
    box-sizing: border-box;
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
      メイリオ, Meiryo, sans-serif;
    background: lightgray;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    font-weight: 600;
  }

  // ヘッダー
  &__head {
    height: 128px;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    text-align: center;
  }
  // メイン全体
  &__main {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    &__content {
      &__head {
        font-size: 22px;
        padding: 32px;
        line-height: 1.5;
        text-align: center;
        display: block;
        font-size: 1.4em;
        font-weight: bold;
        font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }
      &__item {
        padding: 32px 16px;
        border-top: 1px solid #f5f5f5;
        &__inner {
          max-width: 343px;
          margin: 0 auto;
        }
      }
    }
  }
  &__footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 250px;
    padding: 40px 0;
    text-align: center;
    box-sizing: border-box;
    ul {
      display: flex;
      justify-content: space-around;
    }
    a {
      color: #333;
      font-size: 12px;
      text-decoration: none;
      box-sizing: border-box;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic,
        メイリオ, Meiryo, sans-serif;
    }
    li:nth-child(1):hover {
      opacity: 0.7;
      text-decoration: underline;
      box-sizing: border-box;
    }
    li:nth-child(2):hover {
      opacity: 0.7;
      text-decoration: underline;
    }
    li:nth-child(3):hover {
      opacity: 0.7;
      text-decoration: underline;
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      small {
        font-size: 13px;
      }
      img:hover {
        opacity: 0.7;
      }
      }
  }
}