* {
  box-sizing: border-box;
}

.item-img {
  border: 0;
  vertical-align: bottom;
}

/* 真ん中商品写真部分 */

.main {
  background: #f8f8f8;
}

.showMain {
  padding: 40px;
  margin: 0 auto;

  .contentRight {
    width: 700px;
    margin: 0 auto;

    .topContent .itemBox {
      background-color: #fff;
      padding: 24px 40px 40px;

      .itemBox__name {
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-bottom:17px;
      }

      .itemBox__body {
        &__mainIMAGE{
          width: 300px;
          height: 300px;
          margin: 0 auto;
            .item-main-img{
              height: 100%;
              width: 100%;
            }
        }
        &__subIMAGE{
          ul{display: flex;
            justify-content: center;
            li{
              .item-img{
                height: 60px;
                width: 60px;
              }
            }
          }
        }

        }
      }
      
      
       
      .itemBox__price {
        margin: 24px 0 24px;
        text-align: center;
        display: flex;
        flex-direction: column;

         span {
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
        }
      }

      .itemBox__price-detail span {
        font-size: 16px;
      }

      .itemDetail {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }

      .table {
        margin-bottom: 20px;

        table {
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
        }
      }
    }
  }



/* アイテムテーブル */

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.showMain .contentRight .topContent .itemBox {
  .table table {
    th {
      width: 20%;
      background-color: #eee;
      font-weight: 400;
      padding: 8px;
      border: 1px solid #dedede;
      font-size: 14px;
      text-align: center;
    }

    td {
      width: 61%;
      padding: 15px 15px;
      border: 1px solid #dedede;
      font-size: 14px;
      .categroryLINK{
        display: block;
      }

      a {
        text-decoration: none;
        color: #3CCACE;
      }
    }
  }

  .optionalArea {
    display: flex;
    justify-content: space-between;

    ul {
      margin: 10px 0 0;
      display: flex;

      li.likeBtn {
        margin-right: auto;
        padding: 6px 10px;
        border-radius: 40px;
        color: #3CCACE;
        border: 1px solid #ffb340;
      }
    }
  }
  .buyBTN{
    font-size: 20px;
    height: 50px;
    margin-top: 30px;
    display: block;
    display: flex;
    justify-content: center;
    a{
      width: 50%;
      height: 100%;
      display: block;
      display: flex;
      justify-content: center;
      line-height: 50px;
      background-color: red;
      color: white;
      border-radius: 10px;
    }
  }
}

/* <!-- お気に入り、不適切な商品の通報 --> */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1;
  font-size: inherit;
  text-rendering: auto;
}

.fa-star:before {
  content: "\f005";
}

.fa-comment:before {
  content: "\f075";
}

.showMain .contentRight {
  .topContent {
    .itemBox .optionalArea ul.optional li.optionalBtn {
      font-size: 14px;

      a {
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }
    }

// ===================================
// コメント部分
// ===================================

    .commentBox {
      padding: 24px;
      background-color: #fff;
      margin: 10px 0;
      .comment-list{
        width: 100%;
        max-height: 1000px;
        overflow: scroll;
          .comment-Me {
            display: flex;
            display: flex;
            justify-content: flex-end;
              .comment-content{
              position: relative;
              // display: inline-block;
              margin: 20px 20px 20px 0px;
              padding: 7px 10px;
              width: 70%;
              color: #555;
              font-size: 16px;
              background:pink;
              min-height: 80px;
              word-wrap: break-word;

              .comment_create_at{
                position: absolute;
                bottom: 0;
                font-size: 9px;
              }
              .comment-restore{
                position: absolute;
                background-color:skyblue;
                bottom:5px;
                right: 150px;
                padding-left: 5px;
                padding-right: 5px;
                border: solid 1px;
                a{
                color:black;
                font-size: 12px;
                }
              }
              .comment-delete{
                position: absolute;
                background-color: red;
                bottom:5px;
                right: 5px;
                padding-left: 5px;
                padding-right: 5px;
                border: solid 1px;
                a{
                color: white;
                font-size: 12px;
                }
              }
              }
              .comment-content:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 100%;
                margin-top: -15px;
                border: 15px solid transparent;
                border-left: 15px solid pink;
              }
              .comment-user-name{
                width: 100px;
                display: flex;
                position: relative;
                align-items: center;
                .seller-display{
                  position: absolute;
                  top:70px;
                  left: 5px;         
                  background-color:yellow;    
                  font-size: 10px;
                  border: solid 1px;
                }
              }
          }
          .comment-Other {
            display: flex;
            display: flex;
            justify-content: flex-start;
              .comment-content-other{
                position: relative;
                display: inline-block;
                margin: 1.5em 0 1.5em 15px;
                padding: 7px 10px;
                width: 70%;
                color: #555;
                font-size: 16px;
                background: #e0edff;
                min-height: 80px;
                word-wrap: break-word;
                .comment_create_at{
                  position: absolute;
                  bottom: 0;
                  font-size: 9px;
                }
                .comment-restore{
                  position: absolute;
                  background-color:skyblue;
                  bottom:5px;
                  right: 150px;
                  padding-left: 5px;
                  padding-right: 5px;
                  border: solid 1px;
                  a{
                  color:black;
                  font-size: 12px;
                  }
                }
                .comment-delete{
                  position: absolute;
                  background-color: red;
                  bottom:5px;
                  right: 5px;
                  padding-left: 5px;
                  padding-right: 5px;
                  border: solid 1px;
                  a{
                  color: white;
                  font-size: 12px;
                  }
                }
              }
              .comment-content-other:before {
                content: "";
                  position: absolute;
                  top: 50%;
                  left: -30px;
                  margin-top: -15px;
                  border: 15px solid transparent;
                  border-right: 15px solid #e0edff;
              }
              .comment-user-name{
                width: 100px;
                display: flex;
                position: relative;
                align-items: center;
                .seller-display{
                  position: absolute;
                  top:80px;
                  left: 5px;         
                  background-color:yellow;    
                  font-size: 10px;
                  border: solid 1px;
                }
              }
          }
       
      }

      .new_comment #comment_body {
        width: 100%;
        min-height: 104px;
        padding: 10px;
        resize: none;
      }

      .noticeMsg {
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }

      .commentBtn {
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        width: 100%;
        font-size: 18px;
        border-radius: 100px;
        &:focus{
          outline:0;
        }

      }
    }
  }

  .links { 
    &:after {
      display: block;
      content: "";
      clear: both;
    } 
    list-style: none;
    li {
      float: left;      
      a {
        text-decoration: none;
        color: #3CCACE;
      }

      &:last-child {
        float: right;
      }
    }
  }
}

/* コメント欄 */

.fa-angle-right:before {
  content: "\f105";
}

.showMain .contentRight .relatedItems {
  &:after {
    display: block;
    content: "";
    clear: both;
  }

  a {
    display: block;
    margin: 24px 0 8px;
    color: #3CCACE;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    position: relative;
  }
}

