.category-downlists
  .category-downlist 
    .category-downlist__in#oya
      -Category.roots.each do |category|
        .category-downlist__in__one{"data-id" => "#{category.id}"}
          -# カテゴリーのidをカスタム属性のdata-idに格納
          = link_to category.name, "#"
    .category-downlist__in#ko
    .category-downlist__in#mago
      .category-downlist__in__one

      