@import "reset";
@import "modules/header";
@import "modules/homes";
@import "modules/goods";
@import "modules/bottom_banner";
@import "modules/footer";
@import "modules/sell_btn";
@import "modules/new";