.card_back{
  background-color: white;
  padding-top: 20px;
  height: 600px;
}
.mypageMainContainer__rightContnet__initial__card_maincontent{
  width: 50%; 
  margin: 20px auto;
  // height: 1000px;
  background-color: white;
  margin-bottom: 50px;
  &__title{
    border: solid #f8f8f8;
    margin-bottom: 50px;
    p{
      margin: 0 auto;
      font-size: 30px;
    }
  }
  &__in-box{
    height: 100%;
    position: relative;
    &__form-box{
      &__subtitles{
        margin-top: 10px;
        display: flex;
        &__subtitle{
        }
        &__must-mark{
          margin-left: 10px;
          background-color: red;
          color: white;
        }
      
    }
        &__card-image{
          display: flex;
          position: absolute;
          z-index: 1;
          .card{
            img{
            margin-right: 5px;
            width: 30px;
            height: 30px;
            }
            .pickup-card{
              width: 70px;
              height: 70px;              
            }
          }

        }
      &__form{
        height: 60px;
        .card_form{
          margin: 10px 0px;
          height: 40px;
          width: 100%;
          font-size: 20px;
        }
        #exp_month{
          margin-top: 10px;
          height: 40px;
          width: 100px;
        }
        #exp_year{
          margin-top: 10px;
          height: 40px;
          width : 100px;
        }
        #card_token{
          height: 50px;
          width: 100%;
          margin: 0 auto;
          margin-top: 30px;
          margin-bottom: 40px;
          &:active{
            margin-top: 40px;
          }
          #token_submit{
            width: 100%;
            height: 100%;
            background-color: red;
            color: white;
            
          }
        }
      }
    }
  }
  .after_card{
   position: absolute;
   top: 120px;
   width: 100%;
  }
}
.last-box{
  margin-bottom:10px;
}